<div class="center jumbotron">
    <h1> SEBASTIAN'S BLOG</h1>
    

<%= link_to "Register", signup_path , class: "btn btn-danger btr-lg btn-xlarge" %><br/>
<br/>
<%= link_to "Login", login_path , class: "btn btn-danger btr-lg btn-xlarge" %>
</div>