// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$navbar-default-bg: #a4ecfc;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 2em;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.center {
    text-align: center;
    
}

.jumbotron {
    background-image: asset-url('100.jpg');
    background-size: cover;
    height: 1000px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    
}

.btn-xlarge {
    font-size: 2en;
    background-color: black;
}


.article-meta-details {
    border-top: 1.5px solid #a4ecfc;
    margin-top: 14px;
}

.article-actions {
    border-top: 1.5px solid #a4ecfc;
    padding-top: 10px;
}
.user-action {
    padding-top: 10px;
}
.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.69em;
    
}

.article-body {
    border-top: 1.5px solid #a4ecfc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.listing {
    list-style: none;
    padding-left: 0px;
}

footer {
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid #a4ecfc;
    color: #000000;
}

footer a:hover {
    color: orange;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;  
}

