<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.c9.io">The Coursework for COM2025 Web Application Development </a> by <a href="https://www.surrey.ac.uk"> Sebastian Fiut, SF00301, University of Surrey.</a>
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to "About page", about_path %>
                </li>
                <li>
                    <%= link_to "Home page", home_path %>
                </li>
                <li>
                    <%= link_to "Welcome page", root_path %>
                </li>
            </ul>
        
        </nav>
    </footer>
</div>